body{
    margin: auto;
}
a{
    text-decoration:none
}
/*Header*/
header{
    height:60px;
    width:100%;
    /* border:5px solid red; */
    background-color:#3b2632;
}
#brand{
    font-size: 30px;
    color:white;
    margin-top:1%;
    margin-left:1%;
    float:left;
}
#social{
    float: right;
    margin-right: 1%;
}
.socialImg{
    height:50px
}
/*Search*/
#search{
    height:400px;
    width:100%;
    background-image: url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover */
    background-size: 100% 400px;
    /* border:5px dotted green  */
}
#logo{
    height:150px;
    width:150px;
    background-color: white;
    font-size: 90px;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 1%;
    position: absolute;
}

#logo>span{
    margin-left: 22%;
    margin-top: 12%;
    position: absolute;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#heading{
    font-size: 60px;
    color:white;
    margin-left: 30%;
    margin-top:12%;
    position: absolute;
}

#dropdown{
    width:50%;
    height:60px;
    margin-left: 28%;
    margin-top:19%;
    position: absolute;
    /* border:2px solid white */
}

select{
    font-size:20px;
    text-align: center;
    width:40%;
    height:60px;
}

#restaurants{
    width:59%;
}

/*QuickSearch*/
#quickSearch{
    display:inline-block;
    width:80%;
    margin-left:10%;
    margin-top:2%;
    margin-bottom:2%;
    /* border:5px groove pink  */
}
#QuickSearchHeading{
    color:#3b2632;
    font-size:30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    margin-left:2%
}
#QuickSubHeading{
    color:gray;
    font-size:20px;
    line-height:3;
    margin-left:2%
}

.tileContainer{
    height:180px;
    width:30%;
    /* border:2px solid black; */
    float:left;
    margin-top:3%;
    margin-left:2%;
    box-shadow: 10px 20px 10px #3b2632;
}
.tileComponent1{
    width:52%;
    float:left
}
.tileComponent1 img{
    width:100%;
    height:180px
}
.tileComponent2{
    width:45%;
    float:left;
    margin-top:15%;
    margin-left:2%
}
.componentHeading{
    color:#3b2632;
    font-size:25px
}

.componentHeading>a{
    text-decoration: none;
    color:#3b2632 !important;
}

.componentSubHeading{
    color:gray;
    font-size:18px
}
/*Footer*/
footer{
    height:80px;
    width:100%;
    background:#3b2632;
    color:white
    /* border:5px double orange */
}
.footDiv{
    float:left;
    height:50px;
    width:32%;
    text-align: center;
    border-right:2px solid white; 
}
ul{
    list-style-type: none;
}
.noborder{
    border:none
}

@media screen and (max-width:1600px){
    body {
        background-color: #d7b7ca
    }
}

@media screen and (max-width:1400px){
    body {
        background-color: #e0b1f1
    }
}

@media screen and (max-width:1200px){
    body {
        background-color: #e9eeab
    }
}

@media screen and (max-width:1000px){
    body {
        background-color: #b2c3ec
    }
    .tileContainer{
        width:45%;
    }
}

@media screen and (max-width:800px){
    body {
        background-color: #b2ecd0
    }
    #quickSearch{
        margin-left: 15%;
    }
    .tileContainer{
        width:80%;
    }
}

@media screen and (max-width:600px){
    body {
        background-color: #f5bbbb
    }
}